<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The dir path of config file -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/salama/ServiceContext.xml</param-value>
	</context-param>
	
	<!-- Creates the Salama Service Context Listener -->
	<listener>
		<listener-class>com.salama.service.core.context.ServiceContextListener</listener-class>
	</listener>
  
	<!-- Processes Service Requests -->
	<servlet>
		<servlet-name>SalamaHttpServlet</servlet-name>
		<servlet-class>com.salama.server.servlet.HttpServlet</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>SalamaHttpServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.salama.server.servlet.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>Production DB</description>
		<res-ref-name>jdbc/dataorigin_test</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
		<resource-ref>
		<description>On Editing DB</description>
		<res-ref-name>jdbc/dataorigin_test_editing</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
</web-app>
