<!DOCTYPE html>
<!--#set(MetaDataUISetting dataUISetting, DBTable dbTable, MDBTable mDBTable)-->
<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="max-age=1" />
    
    <title>$!{tableName}</title>

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="mycss/my-base.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>

    
    <script src="myjs/lib/md5.js"></script>
    <script src="myjs/lib/salama/easyJsDomUtil.js"></script>
    <script src="myjs/lib/easyUpload.js"></script>
    <script src="myjs/lib/urlparams.js"></script>
    
    <script src="myjs/${empty}myCommon.js"></script>
    
    <script>
	    $(document).ready(function() {
	    	loadContentHtml($('#data-menu-item')[0]);
	    });
    
    	function loadContentHtml(thisNode) {
    		var showingHtmlName = $('#main-content').attr('htmlName');
    		var htmlName = $(thisNode).attr('htmlName');
    		if(showingHtmlName == htmlName) {
    			return;
    		}
    		
    		//remove some js
    		var scriptNodes = $(document.head).find('script');
    		var i, jsSrc;
    		for(i = 0; i < scriptNodes.length; i++) {
    			jsSrc = scriptNodes[i].src; 
    			if(jsSrc.indexOf('myjs/data/') == 0) {
    				$(scriptNodes[i]).remove();
    			}
    		}
    		
    		//load html
			$.ajax({
				url: htmlName,
				type: "GET",
				dataType: "text",
				success: function(response) {
					$('#main-content').html(response);
					$('#main-content').attr('htmlName', htmlName);
				}
			});
    		
    	}
    </script>
  </head>
  <body style="height:100%;">
  <div class="container" style="width: 100%;padding:0;">
  		
  	<!-- Header #f3f3f3 #2f4154-->
	<header class="my-navibar" style="background:#f3f3f3;">
		<div style="float:left;">
			<a href="" style="padding:4px;"><img src="myimg/company-logo.png" /></a>
		</div>
		<div style="float:right;">
			<a href="#" style="padding-right: 8px;"><img src="myimg/sign_out.png" style="width:22px; height:22px;" /> </a>
		</div>
		<div style="float:right;">
			<div style="padding-right: 14px; padding-right: 14px;">
				<a href="#" style="padding-right: 8px;"><span>user001xxxxx</span> </a>
			</div>
		</div>
	</header>
	
	<!-- Content -->
    <div id="my-container" class="my-container">
	  	<div class="my-left-menu" style="background: white;">
	  		<ul style="padding-left: 4px;">
	  			<li>
	  				<div class="my-menu-group">Super Admin</div>
	  				<ul>
	  					<li class="my-menu-item"><a href="#">menu0</a></li>
	  					<li class="my-menu-item"><a href="#">menu1</a></li>
	  					<li class="my-menu-item"><a href="#">menu2</a></li>
	  				</ul>
	  			</li>
	  			<li>
	  				<div class="my-menu-group">Data Management</div>
	  				<ul>
					<!--#for(DBTable table : tables)-->
	  					<li id="data-menu-item" class="my-menu-item" htmlName="${table.tableName.toLowerCase()}_data_list.html" onclick="loadContentHtml(this)"><a href="#">${table.comment}</a></li>
	  				<!--#end-->
	  				</ul>
	  			</li>
	  		</ul>
	  	</div>
	  	<div id="main-content" class="my-main-content" style="">
	        
	  	</div>
    </div>

	<!-- Footer -->
	<footer class="my-footbar" style="background:#ffffff; font-size: small; font-weight: normal;">
		<div style="float:left;">
			<a href="" style="padding:4px;"><span>Copyright @ 2014 Salama Soft, Inc</span></a>
		</div>
	</footer>

  </div> <!-- end of container -->

	<div id="anim-loading-container" style="position:absolute; width: 100%; height: 100%;display:none;">
		<div id="anim-loading" style="position:absolute; width: 48px; height: 48px; background: center; background-color: #353535; border-radius: 4px; filter:alpha(Opacity=128);-moz-opacity:0.5;opacity: 0.5;">
			<img class="icon-rotating" style="background-image: url(myimg/loading_gray.png); background-size:48px 48px; position:absolute; width: 48px; height:48px;" src="myimg/empty.png" />  
		</div>
	</div>

	<!-- Modal (alert msg)-->
	<div id="modal-alert" class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"></h4>
		      </div>
		      <div class="modal-body">
		      	<pre id="modal-msg" style="border: none;"></pre>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" style="display: none;float:right;">OK</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right; margin-right:8px;">Cancel</button>
		      </div>
		    </div>
		  </div>
	</div>    
	<!-- Modal (choose sheet)-->
	<div id="modal-choose-sheet" class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Info</h4>
		      </div>
		      <div class="modal-body">
		      	<pre id="modal-msg" style="border: none;">More than 1 sheet in uploaded excel, choose the sheet</pre>
		      	<div style="padding-left: 8px;">
		      		<select id="dropdown-sheet-name">
		      			<option></option>
		      		</select>
		      	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" style="float:right;">OK</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right; margin-right:8px;">Cancel</button>
		      </div>
		    </div>
		  </div>
	</div>    
	<!-- Modal (input required field)-->
	<div id="modal-dataimp-input-required" class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Info</h4>
		      </div>
		      <div class="modal-body">
		      	<span id="modal-msg" style="border: none; background-color: #e1e1e1;">Title row in your excel(</span>
		      	<span style="background-color: #41aa30;">Green columns</span>
		      	<span style="border: none; background-color: #e1e1e1;"> matched DB column):</span>
		      	<div style="overflow: auto;">
			      	<table>
			      		<th id="dataimpColList">
			      			<td id="dataimpColDispName" class="dataimp-input-required-td matched-db-col">001</td>
			      		</th>
			      	</table>
		      	</div>

				<br />
		      	<span id="modal-msg" style="border: none; background-color: #e1e1e1;">You can set value to update for columns below(Red ones are primary keys):</span>
		      	<div>
		  			<table class="my-table-search" style="width: 99%;">
		  				<tbody>
		  					<tr>
		  						<td class="my-td-search" dataimpColValue="List">
		  							<div dataimpColValue="DOColValue">
		  								<label id="dataimpInputColDispName" class="dataimp-input-required-label primarykey">001</label>
		  								<input type="hidden" dataimpColValue="colName"/>
		  								<input type="text" dataimpColValue="colValue"/>
		  							</div>
		  						</td>
		  					</tr>
		  				</tbody>
		  			</table>
		      	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" style="float:right;">OK</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right; margin-right:8px;">Cancel</button>
		      </div>
		    </div>
		  </div>
	</div>    

  </body>
</html>