<!--#set(MetaDataUISetting dataUISetting, MMetaDataUISetting mDataUISetting, DBTable dbTable, MDBTable mDBTable)-->
		<!-- modified to load dynamicly 
	    <script src="myjs/data/${tableName}_data_detail.js"></script>
		-->
	  		<!-- Content Header -->
	  		<div id="detail-content-header" style="text-align: center; height:44px;background-color: #ffffff;">
				<!-------- Search conditions ---------->		  		
		  		<div style="line-height: 44px; padding-left: 12px;float: left;">
		  			<div class="my-button-s my-button-bk-default">
			  			<a href="#" onclick="$('#modal-data-detail').modal('hide')" style="">
			  				Cancel
			  			</a>
		  			</div>
		  		</div>
		  		<div id="detail-content-button-region" style="line-height: 44px; padding-right: 12px;float: right;">
		  			<a href="#" onclick="saveDetailData(this)" style="">
		  				<img src="myimg/btn_save_blue.png" style="width: 28px;"/>
		  			</a>
		  		</div>
	  			
	  			<div style="height:44px;">
	  				<h5 style="padding: 6px;">$!{dbTable.comment}</h5>
	  			</div>
	  			
	  		</div>
	  		
	  		<!-- Content Table -->
	  		<div id="detail-content-table" style="overflow: auto; height:640px;">
	  			<table class="" style="width: 99%;">
	  				<tbody id="detail-table-tbody" style="">
	  					<tr class="">
	  						<td class="my-td-detail" dataDetail="DataDetail">
	  						<!--#for(MetaDataField metaDataField : dataUISetting.fieldList)-->
	  							<!--#set(DBColumn dbCol = mDBTable.columnMap.get(metaDataField.fieldName))-->
	  							<div dataColBlock="$!{metaDataField.fieldName}">
	  								<input type="hidden" name="columnType" value="${dbCol.columnType}" />
	  								<input type="hidden" name="fieldDispFormat" value="${metaDataField.fieldDispFormat}" />
	  								<input type="hidden" name="fieldValidateRegex" value="${metaDataField.fieldValidateRegex}" />
	  								<input type="hidden" name="fieldDispMaxLength" value="${metaDataField.fieldDispMaxLength}" />
	  								<input type="hidden" />
	  								
	  								<label>$!{metaDataField.fieldDispName}:</label>
	  							<!--#if((dbCol.columnType.startsWith("varchar") && metaDataField.fieldDispMaxLength > 50) || dbCol.columnType.startsWith("text")) -->
	  								<textarea dataDetail="$!{metaDataField.fieldName}"></textarea>
	  							<!--#else -->
	  								<input type="text" dataDetail="$!{metaDataField.fieldName}" placeholder="${metaDataField.fieldDispFormat}" maxlength="${metaDataField.fieldDispMaxLength}" primarykey${dbCol.primaryKey} />
	  							<!--#end -->
	  							</div>
	  						<!--#end-->
	  						</td>
	  					</tr>
	  				</tbody>
	  			</table>
	  		</div>
