<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${tableName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="mycss/my-base.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>

    
    <script src="myjs/lib/md5.js"></script>
    <script src="myjs/lib/salama/easyJsDomUtil.js"></script>
    <script src="myjs/lib/easyUpload.js"></script>
    
    <script src="myjs/${null}myCommon.js"></script>
    <script src="myjs/${tableName}_data_list.js"></script>
  </head>
  <body>
  	<!-- Header #f3f3f3 #2f4154-->
	<header class="my-navibar" style="background:#f3f3f3;">
		<div style="float:left;">
			<a href="" style="padding:4px;"><img src="myimg/company-logo.png" /></a>
		</div>
		<div style="float:right;">
			<a href="#" style="padding-right: 8px;"><img src="myimg/sign_out.png" style="width:22px; height:22px;" /> </a>
		</div>
		<div style="float:right;">
			<div style="padding-right: 14px; padding-right: 14px;">
				<a href="#" style="padding-right: 8px;"><span>user001xxxxx</span> </a>
			</div>
		</div>
	</header>
	
	<!-- Content -->
    <div class="container my-container">
	  	<div class="my-left-menu" style="background: white;">
	  		<ul style="padding-left: 4px;">
	  			<li>
	  				<div class="my-menu-group">Menu Group Title0</div>
	  				<ul>
	  					<li class="my-menu-item"><a href="#">menu0</a></li>
	  					<li class="my-menu-item"><a href="#">menu1</a></li>
	  					<li class="my-menu-item"><a href="#">menu2</a></li>
	  				</ul>
	  			</li>
	  			<li>
	  				<div class="my-menu-group">Menu Group Title1</div>
	  				<ul>
	  					<li class="my-menu-item"><a href="#">menu0</a></li>
	  					<li class="my-menu-item"><a href="#">menu1</a></li>
	  					<li class="my-menu-item"><a href="#">menu2</a></li>
	  				</ul>
	  			</li>
	  		</ul>
	  	</div>
	  	<div id="main-content" class="my-main-content" style="">
	  		<!-- Content Header -->
	  		<div id="content-header">
				<!-------- Search conditions ---------->		  		
		  		<div id="content-search-region" style="line-height: 34px;">
		  			<table class="my-table-search" style="width: 99%;">
		  				<tbody id="search-tbody" style="">
		  					<tr class="">
		  						<td class="my-td-search">
		  							<div><label>condition0:</label><input type="text"/></div>
		  							<div><label>condition0:</label><input type="text"/></div>
		  							<div><label>condition0:</label><input type="text"/></div>
		  							<div><label>condition0:</label><input type="text"/></div>
		  							<div><label>condition0:</label><input type="text"/></div>
		  						</td>
		  					</tr>
		  				</tbody>
		  			</table>
		  		</div>

				<!-------- Button for table operation ---------->		  		
		  		<div id="content-table-button-region" style="line-height: 34px;">
		  			<table class="my-table-page-controller" style="width: 99%;">
		  				<tbody>
		  					<tr class="my-tr-page-controller">
		  						<td class="my-td-page-controller">
						  			<div class="my-button-s my-button-bk-default">
							  			<a href="#">
							  				<img src="myimg/btn-add.png"/>
							  			</a>
						  			</div>
						  			<div class="my-button-s my-button-bk-danger">
							  			<a href="#" style="">
							  				<img src="myimg/btn-delete.png"/>
							  			</a>
						  			</div>
						  			
						  			<div style="float: right;">
							  			<div class="my-button-s my-button-bk-info" style="margin-right:36px;">
								  			<a href="#" style="padding-left: 50px; padding-right: 50px;">
								  				<img src="myimg/btn-search.png" style="width: 20px; height: 20px;"/>
								  			</a>
							  			</div>

										<div id="pagesize_chooser" class="row" style="padding: 2px; margin-right: 22px; height: 38px;">
											<div class="" style="float:left; margin-right: 4px;">
												<label style="">Page row count:</label>
											</div>			  		
					
										  <select name="pagesize_list" class="select-block" style="display: none;">
										    <option value="20">20</option>
										    <option value="50" selected="selected">50</option>
										    <option value="100">100</option>
										    <option value="200">200</option>
										  </select>
										  <div class="btn-group select select-block" style="float:left; padding: 0px; width: 60px; margin-right: 8px;">
										  	<button class="btn dropdown-toggle clearfix btn-info" data-toggle="dropdown" style="padding:2px; width: 70px; height: 34px; ">
										  		<span id="page_size_selected" class="filter-option pull-left" style="top:8px;">50</span>&nbsp;
										  		<span class="caret" ></span>
										    </button>
										    <span class="dropdown-arrow dropdown-arrow-info"></span>
										    <ul id="pagesize_dropdown" class="dropdown-menu dropdown-info" role="menu" style="max-height: 180px; overflow-y: auto; min-height: 108px;min-width:60px;">
										    	<li rel="0" ><a tabindex="-1" href="#" class="" ><span class="pull-left">20</span></a></li>
										    	<li rel="1" class="selected"><a tabindex="-1" href="#" class="" ><span class="pull-left">50</span></a></li>
										    	<li rel="2" ><a tabindex="-1" href="#" class="" ><span class="pull-left">100</span></a></li>
										    	<li rel="3" ><a tabindex="-1" href="#" class="" ><span class="pull-left">200</span></a></li>
										    </ul>
										  </div>
										  
										</div>
						  				
							  			<div class="" style="display: table-cell; padding: 2px; width: 60px;">
								  			<div class="form-group" style="margin: 0px; ">
								  				<input type="text" class="form-control" style="height:34px;"/>
								  			</div>
							  			</div>
							  			<div class="my-button-s my-button-bk-default" style="margin-right: 16px;">
								  			<a href="#">
								  				<span>Go</span>
								  			</a>
							  			</div>

							  			<div class="pagination my-pagination" style="margin: 0px; padding: 2px;">
											<ul style="padding:0px;">
								              <li class="previous" style="padding:0px;"><a href="#" class="fui-arrow-left" style="padding:8px;"></a></li>
								              <li style="color: #000; padding:0px;">1</li>
								              <li style="padding-left: 4px; padding:0px; color: #000;">/</li>
								              <li style="color: #000; padding:0px;">10</li>
								              <li class="next" style="padding:0px;"><a href="#" class="fui-arrow-right" style="padding:8px;"></a></li>
								            </ul>			  				
							  			</div>
						  			</div>
						  			
		  						</td>
		  					</tr>
		  				</tbody>
		  			</table>
		  		</div>
		  	<!--
		  		<div id="table-btn-region" class="" style="width:98%; line-height: 34px;">
			  		<div class="col-xs-1" style="padding: 2px">
			  			<div class="my-button-s my-button-bk-default">
				  			<a href="#">
				  				<img src="myimg/btn-add.png"/>
				  			</a>
			  			</div>
			  			<div style="display: table-cell; width:4px;"></div>
			  			<div class="my-button-s my-button-bk-danger">
				  			<a href="#" style="">
				  				<img src="myimg/btn-delete.png"/>
				  			</a>
			  			</div>
			  		</div>

		  			<div class="pagination my-pagination" style="float:right; margin: 0px; padding: 2px;">
						<ul style="padding:0px;">
			              <li class="previous" style="padding:0px;"><a href="#" class="fui-arrow-left" style="padding:8px;"></a></li>
			              <li style="color: #000; padding:0px;">1</li>
			              <li style="padding-left: 4px; padding:0px; color: #000;">/</li>
			              <li style="color: #000; padding:0px;">10</li>
			              <li class="next" style="padding:0px;"><a href="#" class="fui-arrow-right" style="padding:8px;"></a></li>
			            </ul>			  				
		  			</div>

			  		<div class="row" style="float:right; padding: 2px; margin-right: 8px;">
			  			<div class="" style="float:left; display: table-cell; width:64px; padding: 2px; ">
				  			<div class="form-group" style="margin: 0px; ">
				  				<input type="text" class="form-control" style="height:34px;"/>
				  			</div>
			  			</div>
			  			<div style="float:left; display: table-cell; width:4px;"></div>
			  			<div class="my-button-s my-button-bk-default" style="">
				  			<a href="#">
				  				<span>Go</span>
				  			</a>
			  			</div>
			  		</div>

					<div id="pagesize_chooser" class="row" style="float:right; padding: 2px; margin-right: 22px; height: 38px;">
						<div class="" style="float:left; margin-right: 4px;">
							<label style="">Page row count:</label>
						</div>			  		

					  <select name="pagesize_list" class="select-block" style="display: none;">
					    <option value="20">20</option>
					    <option value="50" selected="selected">50</option>
					    <option value="100">100</option>
					    <option value="200">200</option>
					  </select>
					  <div class="btn-group select select-block" style="float:left; padding: 0px; width: 60px; margin-right: 8px;">
					  	<button class="btn dropdown-toggle clearfix btn-info" data-toggle="dropdown" style="padding:2px; width: 70px; height: 34px; ">
					  		<span id="page_size_selected" class="filter-option pull-left" style="top:8px;">50</span>&nbsp;
					  		<span class="caret" ></span>
					    </button>
					    <span class="dropdown-arrow dropdown-arrow-info"></span>
					    <ul id="pagesize_dropdown" class="dropdown-menu dropdown-info" role="menu" style="max-height: 180px; overflow-y: auto; min-height: 108px;min-width:60px;">
					    	<li rel="0" ><a tabindex="-1" href="#" class="" ><span class="pull-left">20</span></a></li>
					    	<li rel="1" class="selected"><a tabindex="-1" href="#" class="" ><span class="pull-left">50</span></a></li>
					    	<li rel="2" ><a tabindex="-1" href="#" class="" ><span class="pull-left">100</span></a></li>
					    	<li rel="3" ><a tabindex="-1" href="#" class="" ><span class="pull-left">200</span></a></li>
					    </ul>
					  </div>
					  
					</div>
					
					
			  		<div class="col-xs-1" style="float: right; padding: 2px; margin-right: 80px;">
			  			<div class="my-button-s my-button-bk-info">
				  			<a href="#" style="padding-left: 60px; padding-right: 60px;">
				  				<img src="myimg/btn-search.png" style="width: 20px; height: 20px;"/>
				  			</a>
			  			</div>
			  		</div>
			  		
		  		</div>
		  	-->
							  			
	  		</div>
	  		
	  		<!-- Content Table -->
	  		<div id="content-table" style="height:100%; width: 100%; overflow: auto;">
	  			<table class="my-table" style="width: 99%;">
	  				<thead class="my-thead">
	  					<tr class="my-head-tr">
	  						<th id="th-checkbox" class="my-th" style="width:36px;"><input type="checkbox" id="table-check-all"></th>
	  						<th class="my-th-sort asc"><span>col0</span> <img src="myimg/empty.png"/> </th>
	  						<th class="my-th" style="width:36px;"></th>
	  					</tr>
	  				</thead>
	  				<tbody id="data-tbody" style="">
	  					<tr id="tr-data" class="my-tr">
	  						<td id="td-checkbox" class="my-td"><input type="checkbox" id="table-check-row"></td>
	  						<td class="my-td">val0</td>
	  						<td class="my-td"><img src="myimg/edit-blue.png" style="width: 16px; height: 16px;"/> </td>
	  					</tr>
	  				</tbody>
	  			</table>
	  		</div>
	        
	  	</div>
    </div>
    <!-- /.container -->

	<!-- Footer -->
	<footer class="my-footbar" style="background:#ffffff; font-size: small; font-weight: normal;">
		<div style="float:left;">
			<a href="" style="padding:4px;"><span>Copyright @ 2014 Salama Soft, Inc</span></a>
		</div>
	</footer>

  </body>
</html>